---
import { Image } from 'astro:assets';

export interface Props {
  image?: string | any;
}

const { image = await Astro.slots.render('image') } = Astro.props;
---

<section class="bg-green-50 py-10 md:py-16">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="mb-10 md:mx-auto text-center md:mb-12 max-w-3xl">
      <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">About us</h2>
    </div>
  </div>
  <div class="mx-auto max-w-7xl p-4 md:px-8">
    <div class="md:flex md:gap-16">
      <div class="md:basis-1/2 self-center">
        <div class="max-w-3xl mx-auto text-left sm:text-center text-xl text-muted">
          <p>
            At <span class="font-semibold">Fresh Beginnings Publishing</span>, we are a Cleveland-based publishing
            company dedicated to creating books that captivate the hearts and minds of children. Our mission is to
            inspire young readers with imaginative stories featuring unique characters who embark on courageous journeys
            to conquer their fears. With a focus on creativity and storytelling, our books offer engaging and
            thought-provoking experiences for children of all ages.
          </p>

          <br />
          <p>
            Founded by a Speech Language Pathologists, our stories aim to empower caregivers and educators to help
            children develop the skills they need to succeed. We believe that every child deserves the opportunity to
            learn and grow. Each page is crafted with care to ignite the love for reading, foster imagination, and
            encourage personal growth. Join us on this extraordinary journey as we bring these captivating stories to
            life. Explore our collection now!
          </p>
        </div>
      </div>
      <div aria-hidden="true" class="mt-10 md:mt-0 md:basis-1/2">
        {
          image && (
            <div class="relative m-auto max-w-4xl">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Image
                  class="mx-auto w-full"
                  width={500}
                  height={500}
                  widths={[400, 768]}
                  sizes="(max-width: 768px) 100vw, 432px"
                  aspectRatio="500:500"
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>
