---
import { useSanityClient } from 'astro-sanity';

import Layout from '~/layouts/Layout.astro';

import PortableText from '~/components/PortableText.astro';

export const prerender = true;
export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`);
  return posts.map((post: { slug: { current: string } }) => {
    return {
      params: {
        slug: post.slug?.current || '',
      },
      props: { ...post },
    };
  });
}

const { title, body } = Astro.props;
---

{console.log(Astro.props)}
<Layout>
  <h1>{title}</h1>

  <PortableText portableText={body} />
</Layout>
