---
import '~/assets/styles/base.css';

import Header from '~/components/Header.astro';

import { headerData, footerData } from '~/data';
import { CONFIG } from '~/config';
import Scripts from '~/components/Scripts.astro';
import Footer from '~/components/Footer.astro';

export interface Props {
  title?: string;
}

const { title } = Astro.props;
const { defaultTitle, description, language = 'en', textDirection = 'ltr' } = CONFIG;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" type="image/svg+xml" href="/favicon.svg" color="#8D46E7" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || defaultTitle}</title>
  </head>
  <body class="antialiased text-page bg-light tracking-tight">
    <slot name="header">
      <Header {...headerData} isSticky />
    </slot>
    <main>
      <slot />
    </main>
    <slot name="footer">
      <Footer {...footerData} />
    </slot>
    <Scripts />
  </body>
</html>
<style is:global>
  :root {
    --accent: 6, 95, 70;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #0abf70 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
  img {
    content-visibility: auto;
  }
</style>
